@font-face {
    font-family: Montserrat;
    src: url(../font/Montserrat-VariableFont_wght.ttf);
}

body{
    margin: 0;
    padding: 0;
    font-family: Montserrat;
    background-color: rgb(19, 19, 19);
    color: white;
}

h1, h2, h3, h4, p{
    margin: 0;
}

/**************************HEADER**************************/

.hover-color{
    display: none;
}

header{
    height: 10vh;
    background-color: rgb(42, 42, 42);
    border-bottom: 2px solid #666666;
}

.header-content{
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.header-content img{
    height: 7vh;
    cursor: pointer;
}


/**************************MAIN**************************/
.logout-button{
    position: fixed;
    top: 12.5vh;
    right: 1vw;
    padding: 2vh 2vw;
    background-color: #1B1929;
    border-radius: 10px;
    color: white;
    text-decoration: none;
    box-shadow: 0 2px 4px rgba(0, 0, 0);
}

.logout-button:hover {
    color: darkorange;
}

.logState {
    position: fixed;
    bottom: 11.5vh;
    left: 0.5vw;
    color: rgb(159, 159, 159);
}


/**************************FOOTER**************************/

footer{
    position: fixed;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 10vh;
    background-color: #161616;
    color: rgb(200, 200, 200);
    border-top: 2px solid #666666;
}

footer a {
    color: rgb(200, 200, 200);
}